{{ 'section-modal.css' | asset_url | stylesheet_tag }}

{%- style -%}

{%- endstyle -%}

<div id="modal-wrapper">
  {% capture blocks %}
    [
      {% for block in section.blocks %}
        {
          "id": "{{ block.id }}",
          "settings": {% if block.type == 'email_form' %}
            {
              {% if block.settings.email_form_code != "" %}"email_form_code": {{ block.settings.email_form_code }},{% endif %}
              "email_form_success_title": "{{ block.settings.email_form_success_title }}",
              "email_form_success_message": "{{ block.settings.email_form_success_message }}",
              "email_form_button_text": "{{ block.settings.email_form_button_text }}"
            }
          {% else %}
            {
              "modal_content_title": "{{ block.settings.modal_content_title }}",
              "modal_content_subtitle": "{{ block.settings.modal_content_subtitle }}",
              "modal_content_body": "{{ block.settings.modal_content_body }}",
              "modal_content_primary_cta_text": "{{ block.settings.modal_content_primary_cta_text }}",
              "modal_content_primary_cta_url": "{{ block.settings.modal_content_primary_cta_url }}",
              "modal_content_secondary_cta_text": "{{ block.settings.modal_content_secondary_cta_text }}",
              "modal_content_secondary_cta_url": "{{ block.settings.modal_content_secondary_cta_url }}"
            }
          {% endif %},
          "shopify_attributes": {{ block.shopify_attributes | json }},
          "type": "{{ block.type }}"
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endcapture %}
  {% comment %} modal {% endcomment %}
    <div id="modal"
      data-settings="{{ section.settings | json | escape }}"
      data-blocks="{{ blocks | strip_newlines | escape }}"
    >
    TEST! {{blocks | strip_newlines | escape }}

</div>

</div>
  

<!-- <div class="modal center {% if section.settings.full_width == false %}modal--narrow page-width{% endif %}">
  <div class="modal__wrapper color-{{ section.settings.color_scheme }} gradient content-container isolate{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'heading' -%}
          <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
        {%- when 'paragraph' -%}
          <div class="modal__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'email_form' -%}
          <div {{ block.shopify_attributes }}>
            {% form 'customer', class: 'modal-form' %}
              <input type="hidden" name="contact[tags]" value="modal">
              <div class="modal-form__field-wrapper">
                <div class="field">
                  <input
                    id="modalForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="modal-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="modal-success--{{ section.id }}"
                    {% endif %}
                    placeholder="Modal"
                    required
                  >
                  <label class="field__label" for="modalForm--{{ section.id }}">
                    Modal
                  </label>
                  <button type="submit" class="modal-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'modal.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="modal-form__message form__message" id="modal-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="modal-form__message modal-form__message--success form__message" id="modal-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'modal.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div> -->

{% schema %}
{
  "name": "Modal",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "modal_background_image",
      "label": "Modal Background Image"
    },
    {
      "type": "range",
      "id": "modal_delay",
      "min": 1000,
      "max": 4000,
      "step": 250,
      "unit": "ms",
      "label": "Delay",
      "default": 2000
    },
    {
        "type": "select",
        "id": "animation_type",
        "options": [
          {
            "value": "animation-1",
            "label": "Animation 1"
          },
          {
            "value": "animation-2",
            "label": "Animation 2"
          },
          {
            "value": "animation-3",
            "label": "Animation 3"
          }
        ],
        "default": "animation-1",
        "label": "Animation Type"
    },
    {
      "type": "checkbox",
      "id": "float_modal_content",
      "label": "Float content",
      "default": false      
    },
    {
      "type": "checkbox",
      "id": "modal_content_overlay",
      "label": "Transparent content background",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "modal_content",
      "name": "Modal Content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "modal_content_title",
          "default": "Modal Title",
          "label": "Modal Title"
        },
        {
          "type": "text",
          "id": "modal_content_subtitle",
          "default": "Modal Subtitle",
          "label": "Modal Subtitle"
        },
        {
          "type": "richtext",
          "id": "modal_content_body",
          "default": "<p>Modal Content</p>",
          "label": "Modal Content"
        },
        {
          "type": "text",
          "id": "modal_content_primary_cta_text",
          "default": "Primary CTA",
          "label": "Primary CTA Title"
        },
        {
          "type": "url",
          "id": "modal_content_primary_cta_url",
          "label": "Primary CTA Link"
        },
        {
          "type": "text",
          "id": "modal_content_secondary_cta_text",
          "default": "Secondary CTA",
          "label": "Secondary CTA Title"
        },
        {
          "type": "url",
          "id": "modal_content_secondary_cta_url",
          "label": "Secondary CTA Link"
        }
      ]
    },
    {
        "type": "email_form",
        "name": "Newsletter Signup",
        "limit": 1,
        "settings": [
          {
            "type": "html",
            "id": "email_form_code",
            "label": "Email Form Embed Code"
          },
          {
            "type": "text",
            "id": "email_form_success_title",
            "label": "Email Form Success Title",
            "default": "Success!"
          },
          {
            "type": "richtext",
            "id": "email_form_success_message",
            "label": "Email Form Success Message",
            "default": "<p>You've been subscribed to our newsletter and will receive updates from us shortly!</p>"
          },
          {
            "type": "text",
            "id": "email_form_button_text",
            "label": "Email Form Button Text",
            "default": "Subscribe"
          }
        ]
      },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Modal",
      "blocks": [
        {
          "type": "email_form"
        },
        {
          "type": "modal_content"
        }
      ]
    }
  ]
}
{% endschema %}
