{%- assign app_type = 'test' -%}

<div class=""
  data-app-type="{{ app_type }}"
  data-app-id="{{ section.id }}">
  <script id="{{ section.id }}-{{ app_type }}">
    window.vue.availableApps.push({
      type: "{{ app_type }}",
      id: "{{ section.id }}",
      data: {
        "settings": {{ section.settings | json }}
      }
    })
  </script>
</div>

{% schema %}
{
  "name": "Vue Theme Editor Test",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    }
  ],
  "presets": [
    {
      "name": "Vue Theme Editor Test"
    }
  ]
}
{% endschema %}
